<main>
  <app-learning-resources />

  <hr />

  <app-auth />

  <!-- used only in angular 17 -->
  <!-- @if (isAdmin()){
    <p>Only Admin should see this!</p>
  } -->

  <!-- used in older angular versions -->
  <!-- <p *ngIf="isAdmin()">Only Admin should see this!</p> -->
  <!-- <ng-template appAuth="admin">
    <p>Only Admin should see this!</p>
  </ng-template> -->
  <p *appAuth="'admin'" appLog class="protected-content admin">Only Admin should see this!</p>
  <p *appAuth="'user'" class="protected-content unauthenticated">Regular users should see this!</p>
  <p *appAuth="'guest'" class="protected-content authenticated">Guest users should see this!</p>
</main>
